main {
  .login-form {
    max-width: 400px;
    padding: 50px 20px 80px 20px;
    margin: 0 auto;
    font-size: 14px;
    .login-form__title {
      color: var(--dark);
      margin: 0;
      margin-bottom: 26px;
      font-size: 26.6px;
      font-weight: 700;
    }
    .login-form__content {
      .content__option {
        display: flex;
        justify-content: space-between;
        .option__forgot {
          color: var(--success);
          &:hover {
            color: var(--linkHover);
          }
        }
      }
      .content__button {
        margin-top: 24px;
        width: 100%;
        &:hover {
          background-color: var(--buttonHover);
        }
      }
    }
    .login-form__footer {
      text-align: center;
      margin: 16px 0;
      a {
        margin-left: 5px;
        color: var(--success);
        &:hover {
          color: var(--linkHover);
        }
      }
    }
  }
}
@media screen and (max-width: 992px) {
  main {
    .login-form {
      padding-top: 80px;
      .login-form__title {
        font-size: 23px;
      }
    }
  }
}
