.btn {
  display: inline-block;
  border-radius: 3px;
  line-height: 1.33333333333;
  border: 1px solid transparent;
  background-color: transparent;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  font-family: inherit;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration: none;
  &.text {
    border: 1px solid transparent;
    background-color: transparent;
  }
  &.contained {
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: var(--white);
  }
  &.outlined {
    border: 1px solid var(--light);
    color: var(--light);
    background-color: transparent;
  }
  &.text-primary {
    color: var(--primary);
  }
  &.text-success {
    color: var(--success);
  }
  &.contained.text-primary {
    background-color: var(--primary);
    color: var(--white);
  }
  &.contained.text-success {
    background-color: var(--success);
    color: var(--white);
  }
  &:disabled {
    cursor: no-drop;
    opacity: 0.5;
  }
  &.text-medium {
    padding: 8px 20px;
    span {
      font-size: 13px;
    }
  }
  &.text-large {
    padding: 12px 20px;
    span {
      font-size: 14px;
    }
  }
}
