@import '../../variable.scss';
main {
  .forgot-password {
    display: flex;
    max-width: 1086px;
    margin: 0 auto;
    padding: 50px 0 80px;
    box-sizing: border-box;
    .forgot-password__button {
      width: 16.66%;
      padding: 0 20px;
      box-sizing: border-box;
      .icon-btn {
        padding: 6px 12px;
      }
    }
    .forgot-password__form {
      width: 66.68%;
      box-sizing: border-box;
      padding: 0 20px;
      .form {
        max-width: 400px;
        margin: 0 auto;
        h2 {
          font-size: 26.6px;
          font-weight: 700;
          margin: 0;
          padding-bottom: 35px;
        }
        .btn {
          width: 100%;
          padding: 14px 20px;
          &:hover {
            background-color: $buttonHover;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  main {
    .forgot-password {
      display: block;
      .forgot-password__button {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 20px;
        width: 100%;
      }
      .forgot-password__form {
        margin: 0 auto;
        width: 100%;
        .form {
          h2 {
            font-size: 22px;
          }
        }
      }
    }
  }
}
