@import '../../variable.scss';
header {
  .header {
    display: flex;
    max-width: 1046px;
    padding: 0 20px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 103px;
    a {
      text-decoration: none;
      color: $dark;
      font-weight: bold;
      font-size: 14px;
    }
    ul {
      list-style: none;
    }
    .header__menu {
      display: flex;
      margin: 0;
      font-weight: 500;
      .icon__hide {
        display: none;
      }
      .menu__item {
        position: relative;
        margin: 0;
        & + .menu__item {
          margin-left: 40px;
        }
        a {
          border-bottom: none;
          &::after {
            content: '';
            width: 0;
            position: absolute;
            height: 1px;
            bottom: 0;
            left: 50%;
            transition: 0.15s all ease-in-out;
            -webkit-transition: 0.15s all ease-in-out;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            background-color: $primary;
          }
          &:hover {
            &::after {
              width: 100%;
            }
          }
        }
      }
    }
    .header__button {
      .button__login {
        margin-right: 20px;
        font-weight: 400;
        padding: 6px 12px;
      }
      .button__signup {
        background-color: $primary;
        color: $white;
      }
      .button__show {
        display: none;
        padding: 6.8px 9px;
        line-height: 1;
        margin-left: 20px;
        color: $icon;
        border: 1px solid $borderIcon;
      }
    }
  }
}
@media screen and (max-width: 992px) {
  header {
    .header {
      height: 73px;
      .header__menu {
        z-index: 10000;
        box-sizing: border-box;
        flex-direction: column;
        font-weight: 300;
        position: fixed;
        width: 300px;
        height: 100%;
        top: 0;
        padding: 0;
        right: -300px;
        background-color: $white;
        transition: 0.25s all ease-in-out;
        -webkit-transition: 0.25s all ease-in-out;
        box-shadow: 0 8px 20px 0 $shadow;
        .icon__hide {
          display: inline;
          margin-left: auto;
          padding: 20px;
        }
        .menu__item {
          margin: 8px 20px;
          margin-right: auto;
          a {
            font-weight: 400;
          }
          & + .menu__item {
            margin-left: 20px;
          }
        }
      }
      .header__button {
        display: flex;
        align-items: center;
        .button__login {
          padding: 6px 8px;
          margin-right: 10px;
        }
        .button__signup {
          padding: 6px 8px;
        }
        .button__show {
          display: inline;
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  header {
    .header {
      .header__button {
        .button__login {
          margin-right: 0;
        }
        .button__show {
          margin-left: 5px;
        }
      }
    }
  }
}
