@import '../../variable.scss';
.form-group {
  color: #a8b0bf;
  margin-bottom: 20px;
  .form-label {
    text-transform: capitalize;
  }
  .form-control {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #f5f7fa;
    border-radius: 2px;
    box-sizing: border-box;
    border-bottom: 1px solid transparent;
    &:focus {
      border-bottom: 1px solid #22ab59;
    }
  }
  .form-error {
    color: $danger;
    font-size: 14px;
  }
}