footer {
  background-color: var(--backgroundFooter);
  margin-top: auto;
  .footer {
    max-width: 1086px;
    padding: 80px 20px;
    margin: 0 auto;
    box-sizing: border-box;
    a {
      text-decoration: none;
      color: var(--dark);
    }
    ul {
      list-style: none;
    }
    .footer__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .footer__option {
        margin: 0;
        display: flex;
      }
    }
    .footer__row--header {
      padding-bottom: 50px;
      .option__item {
        position: relative;
        box-sizing: border-box;
        & + .option__item {
          margin-left: 40px;
        }
        a {
          border-bottom: none;
          &::after {
            content: '';
            width: 0;
            position: absolute;
            height: 1px;
            bottom: 0;
            left: 50%;
            transition: 0.15s all ease-in-out;
            -webkit-transition: 0.15s all ease-in-out;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            background-color: var(--primary);
          }
          &:hover {
            &::after {
              width: 100%;
            }
          }
        }
      }
    }
    .footer__row--content {
      color: var(--gray);
      p {
        margin: 0;
      }
      .footer__social {
        display: flex;
        margin: 0;
        .social__item {
          width: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            color: var(--gray);
            padding: 6px 10px;
            &:hover {
              color: var(--primary);
            }
          }
        }
      }
    }
    .footer__text {
      margin: 0;
      margin-top: 16px;
      color: var(--gray);
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 992px) {
  footer {
    .footer {
      text-align: center;
      .footer__row {
        display: block;
      }
      .footer__row--header {
        padding-bottom: 20px;
        .footer__option {
          flex-direction: column;
          align-items: center;
          padding: 0;
          .option__item {
            margin: 10px;
            & + .option__item {
              margin-left: 10px;
            }
          }
        }
      }
      .footer__row--content {
        padding-bottom: 30px;
        .footer__social {
          padding-top: 30px;
          justify-content: center;
        }
      }
    }
  }
}
