$default: #1b1b1b;
$label: #a8b0bf;
$input: #f5f7fa;
$icon: #686d77;
$borderIcon: rgba(0,0,0,.1);
$buttonHover: #1e964e;
$linkHover: #005924;
$backgroundFooter: #f5f7fa;
$blue: #2d6eed;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e8b8f5;
$red: #dc3545;
$orange: #fec410;
$yellow: #000;
$green: #b0e43f;
$teal: #20c997;
$cyan: #49ffc3;
$white: #fff;
$gray-dark: #343a40;
$secondary: #e7faef;
$danger: #e63e46;
$dark: #203259;
$primary: #15d164;
$success: #22ab59;
$info: #17a2b8;
$warning: #de9100;
$light: #f2f4f7;
$gray: #7f7e7e;